.text-normal {
    text-transform: none !important;
  }
.btn-in-loading {
  cursor: not-allowed !important;
}
.btn-sm-action {
  padding: 6px !important;
  font-size: 12px !important;
}
.tr-table th,
.tr-table td {
  padding: 10px !important;
  font-family: "Montserrat", sans-serif !important;
}
.tr-table th {
  font-weight: bold !important;
  font-size: 13px !important;
}
.tr-table td {
  font-size: 13px !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.nav-tabs .nav-item .nav-link {
  border-top: 2.5px solid #0063f7 !important;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #0063f7 !important;
  color: #fff !important;
}
.font-size-13px {
  font-size: 13px !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.bg-mutted {
  background-color: rgba(10, 5, 5, 0.1) !important;
}

#home {
    padding-top: 130px !important;
    padding-bottom: 50px !important;
}